<a href="https://colab.research.google.com/github/SneharupMukherjee/LetsUpgrade-AI-ML/blob/master/Assignment_Day_6___7th_September_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



Question 1 : Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [9]:
a = input("Enter an e-mail address: ")
b = a.find('@')
c = a.find('.',b)
print("The name of the company is", format(a[b+1:c].upper()))

Enter an e-mail address: mukherjee.sneharup@gmail.com
The name of the company is GMAIL



Question 2 : Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

In [10]:
items=[x for x in input().split(', ')]
items.sort()
print("Sorted data are ",', '.join(items))

digitalmarketing, machinelearning, deeplearning, datascience
Sorted data are  datascience, deeplearning, digitalmarketing, machinelearning

Question 3: Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

In [11]:
myset = {"Machine Learning", "Deep Learning", "Data Science"}
print(myset)

for x in myset:
  print(x)

print("Machine Learning" in myset)

myset.add("Psychology")
print(myset)

myset.update(["Digital Marketing","Hemp"])
print(myset)

print(len(myset))

myset.remove("Data Science")
print(myset)

myset.discard("Psychology")
print(myset)

x = myset.pop()
print(x)
print(myset)

myset.clear()
print(myset)

myset = {"Affiliate","Niche","SEO"}
del myset
print(myset)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

SPset = set(("Affiliate","Niche","SEO"))
print(SPset)

{'Machine Learning', 'Data Science', 'Deep Learning'}
Machine Learning
Data Science
Deep Learning
True
{'Machine Learning', 'Data Science', 'Deep Learning', 'Psychology'}
{'Digital Marketing', 'Hemp', 'Deep Learning', 'Psychology', 'Data Science', 'Machine Learning'}
6
{'Digital Marketing', 'Hemp', 'Deep Learning', 'Psychology', 'Machine Learning'}
{'Digital Marketing', 'Hemp', 'Deep Learning', 'Machine Learning'}
Digital Marketing
{'Hemp', 'Deep Learning', 'Machine Learning'}
set()

NameError: ignored



Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [14]:


a = [79, 34, 6, 25, 91, 98, 42, 97, 63, 68, 18, 44, 17, 77, 71, 43, 16, 26, 13, 30, 52, 59, 96, 72, 49, 31, 35, 54, 80, 67, 62, 60, 5, 40, 65, 86, 47, 81, 100, 92, 89, 28, 50, 93, 46, 27, 11, 83, 58, 87, 8, 55, 73, 75, 10, 57, 1, 36, 95, 24, 19, 74, 85, 90, 2, 3, 41, 56, 48, 33, 45, 61, 51, 12, 21, 88, 64, 22, 76, 94, 14, 78, 20, 53, 7, 38, 23, 82, 29, 9, 84, 32, 69, 99, 15, 4, 39, 70, 37]
def getMissingNo(a, n):
    sum_of_n_elements = n*(n+1)//2
    return sum_of_n_elements-sum(a)

n = len(a)+1
miss = getMissingNo(a, n) 
print(miss)

TypeError: ignored

Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [15]:
x = [45, 3, 7, 19, 2, 44, 36, 23, 42, 31, 30, 35, 25, 25, 35, 12, 16, 10, 21, 36, 17, 26, 48, 24, 10, 15, 16, 3, 11, 36, 15, 39, 17, 22, 8, 7, 41, 10, 45, 16, 41, 3, 33, 12, 3, 24, 13, 30, 24, 34, 23, 32, 28, 8, 10, 6, 26, 2, 3, 32, 21, 18, 26, 8, 35, 19, 43, 4, 5, 5, 44, 21, 33, 10, 14, 2, 20, 43, 12, 18, 42, 43, 21, 17, 31, 27, 44, 38, 41, 8, 4, 9, 25, 19, 21, 36, 46, 34, 23, 2]
from collections import OrderedDict 
res = list(OrderedDict.fromkeys(x))   
print(res)

[45, 3, 7, 19, 2, 44, 36, 23, 42, 31, 30, 35, 25, 12, 16, 10, 21, 17, 26, 48, 24, 15, 11, 39, 22, 8, 41, 33, 13, 34, 32, 28, 6, 18, 43, 4, 5, 14, 20, 27, 38, 9, 46]